@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title MBDB</h2>

<p>
    This app is a personal project that uses a populated movie database with about 250 movies. 
</p>

<p>
    Contact: <a href="https://github.com/MilosLbr" target="_blank">Github</a>, <a href="https://www.linkedin.com/in/mbbrankovic/" target="_blank">Linkedin</a>
</p>