@model IEnumerable<MBDBapp.DBModels.Film>

@{
    ViewBag.Title = "All films";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Films</h2>

<hr />

<table id="filmsTable" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Film</th>
            <th>Year</th>
            <th>Director</th>
            <th>Actors</th>
            <th>Synopsis</th>
            <th>Runtime (min)</th>
            <th>Oscar Nominations</th>
            <th>Oscar Wins</th>
            <th>Add to WatchList</th>
        </tr>
    </thead>
</table>

@section scripts 
{
    <script>
        $(document).ready(() => {
            
            let table = $("#filmsTable").DataTable(
                {
                    ajax: {
                        url: '/api/films',
                        dataSrc: ''
                    },
                    columnDefs: [
                        { "width": "100px", targets: 3 },
                        { "className" : "text-center vAlignMiddle", targets: 8},
                        { "verticalAlign" : "middle", targets: 8},
                    ],
                    columns: [
                        {
                            data: "filmName",
                            render: (data, type, film) => {
                                return "<a href = '/films/details/" + film.filmID + "' target='_blank'>" + data + "</a>";
                            }
                        },
                        {
                            data: "filmReleaseDate",
                            render: (data, type, film) => {
                                return data.slice(0, 4);
                            }
                        },
                        {
                            data: "director.directorName"
                        },
                        {
                            data: "castMembers",
                            render: (data, type, film) => {
                                let actors = "";

                                for (let i = 0; i< data.length && i < 3; i++) {

                                    actors += data[i].actor.actorName;
                                    actors += "<br/>"
                                }

                                // list up to 3 known actors actors
                                
                            return actors;
                        }
                    },

                    {
                        data: "filmSynopsis"
                    },
                    {
                        data: "filmRunTimeMinutes"
                    },
                    {
                        data: "filmOscarNominations"
                    },
                    {
                        data: "filmOscarWins"
                    },
                    {
                        data: "filmID",
                        render: (data, type, film) => {
                            return '<button class="btn btn-primary addToWatchListBtn" data-filmid="' + data + '" data-filmname="' + film.filmName +'">+</button>';
                        }
                    }
                ]
                }
            );


            table.on("click", ".addToWatchListBtn", function () {
                const movieId = this.dataset.filmid;
                const movieName = this.dataset.filmname;
                

                $.ajax({
                    url: "/api/watchlist/" + movieId,
                    method: "POST",
                })
                .done(function() {
                        toastr.success("Added " + movieName + " to WatchList!");
                 })
                .fail(data => {
                    if (data.responseJSON.message == "Film is already added to WatchList!") {

                        toastr.error("Film is already added to WatchList!")
                    } else {
                        toastr.error("Error adding movie to WatchList")
                    }
                })
            });

        })


    </script>    
    
    
    
}
