body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

.img-responsive{
    max-height: 100%;
}

.mainInfo {
    max-height:350px;
}

.d-flex{
    display:flex;
}

.fl-align-center{
    align-items: center;
}

.fl-align-start{
    align-items: start;
}

.justify-content-bw{
    justify-content: space-between;
}
.justify-content-around{
    justify-content: space-around;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.vAlignMiddle{
    vertical-align: middle !important;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

#commentsContainer{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}
.comment{
    width: 98%;
    margin-left: 10px;
    padding: 5px;
    border-bottom: 0.5px solid #cccc;
    white-space: pre-wrap;
}
.authorAndDate{
    margin-bottom: 5px;
}
.commentAuthor {
    font-weight: bold;
    margin-right: 15px;
}
.dateAdded{
    font-size: 0.75em;
    color: #555;
}
.commentContent{
    font-size: 1.15em;
    padding: 5px 5px 5px 0px;
}

a.username{
    cursor:pointer;
}